body {
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}




.navbar {
    background-color: black;
    padding: 15px;
    text-align: right;
    margin-right: 270px;
    position: sticky;
    top: 0;

}

.navbar a {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-size: large;
    transition: 1s;
    margin-right: 0.7cm;

}

.navbar a:hover {
    color: #ffda5a;
}

.home {
    padding-top: 90px;
    color: white;
    font-size: 40px;
    margin-left: 120px;
    margin-top: 2cm;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.home button {
    color: black;
    background: #ffda5a;
    height: 60px;
    width: 120px;
    border-radius: 70px;
    font-size: medium;
    cursor: pointer;
    margin-right: 10px;
    border-style: none;
}


.about {
    display: flex;
    flex-direction: column;
    padding-top: 180px;
    background-color: black;
    color: white;
}

.about h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
    margin-left: 25cm;
    padding-top: 10px;
}

.about p {
    max-width: 700px;
    padding: 5px;
    margin-left: 750px;
    color: white;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    margin-top: 0.5em;
}

.about button {
    background-color: #ffda5a;
    color: black;
    height: 60px;
    width: 120px;
    margin-left: 750px;
    border-radius: 70px;
    border-style: none;
}


.resume h1 {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
    margin-left: 11cm;
    padding-top: 2px;
}

.resume {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    color: white;
    padding: 20px;
    width: 1100px;
    margin-left: 200px;
    padding-top: 60px;

}

.resume-item {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 15px;
    border-radius: 5px;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}

.buttondiv {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 100px;
}

.buttondiv button {
    background-color: #ffda5a;
    color: black;
    height: 60px;
    width: 120px;
    border-radius: 70px;
    font-size: medium;
    cursor: pointer;
    border-style: none;
    margin-right: 1cm;


}

.service h1 {

    color: white;
    font-size: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 17cm;
    padding-bottom: 12px;
}

.service-item {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    color: white;
    padding: 20px;
    width: 1100px;
    height: 900px;


    margin-left: 195px;
    padding-top: 10px;


}



.service-box {

    background-color: rgba(255, 255, 255, 0.1);

    border-radius: 5px;



}

.service-box:hover {

    background-color: black;
}



.service-box img {

    width: 150px;

    margin-left: 5cm;
    padding-top: 2cm;

}

.service-box h1 {

    margin-left: 3.5cm;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.myskill {

    color: white;
    font-size: 40px;
    text-align: center;

    padding-top: 90px;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.skills {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
padding: 40px;



}



.skills {

    color: white;

    height: 15px;
    padding-bottom: 490px;
    margin-left: 4.5cm;


}


.skillboxhtml {

    background-color: #ffda5a;
    height: 20px;
    border-radius: 20px;
    width: 70%;
}

.skillboxhtml h2 {

    color: white;
    margin-left: 450px;
    position: absolute;
    height: 100px;
}












.skillboxcss {

    background-color: #ffda5a;
    height: 20px;
    border-radius: 20px;
    width: 50%;



}



.skillboxjs {

    background-color: #ffda5a;
    height: 20px;
    border-radius: 20px;
    width: 60%;



}





.skillboxreact {

    background-color: #ffda5a;
    height: 20px;
    border-radius: 20px;
    width: 55%;



}

.skillboxnode {

    background-color: #ffda5a;
    height: 20px;
    border-radius: 20px;
    width: 470px;



}


.skillboxmongo {

    background-color: #ffda5a;
    height: 20px;
    border-radius: 20px;
    width: 40%;



}


.project{

    color: white;
    font-size: 30px;
    text-align: center;
    margin-bottom: 120px;
}


.project-section1{

    display: flex;
    justify-content: center;
    gap: 30px;
    padding-right: 60px;

}


.project-box1{

    position: relative;
}

.project-box1 img{

    height: 345px;
    width: 360px;
    
}

.project-box2 img{

    height: 345px ;
    width: 700px ;

}

.project-box1 div{


position: absolute;
height: 100%;
width: 100% ;

}
.project-box1 div:hover{

    background-color: #ffbd39;
    color: white;
}

























































.feedback {
    display: flex;
    padding-top: 40px;
    gap: 30px;
    justify-content: center;
    position: absolute;
    margin-bottom: 8600px;
    margin-left: 120px;



}

.fbox {
    background-color: rgb(25, 25, 25);
    height: 80px;
    width: 180px;
    padding: 60px;
    border-radius: 6px;


}

.fbox h1 {

    color: #ffda5a;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;




}

.fbox h2 {

    color: white;
    font-size: 26px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}



.iam h1 {

    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    text-align: center;
    padding-top: 160px;
    padding-top: 200px;
}

.iam img {

    padding-top: 100px;
    height: 700px;
    width: 1600px;

}

.free {

    color: white;
    font-size: 26px;
    position: relative;
    bottom: 600px;
    margin-left: 400px;

}

.free button {

    background-color: #ffda5a;
    height: 70px;
    width: 170px;
    color: black;
    margin-left: 5cm;
    border-radius: 40px;
    border-style: none;
}

.free p {

    font-size: 7px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    color: white;
    text-align: center;
    margin-right: 15cm;

}


.connect h1 {

    color: white;
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    bottom: 250px;
    margin-left: 14cm;


}

.contact {

    display: flex;
    gap: 30px;
    margin-left: 7.5cm;
    position: relative;
    bottom: 200px;




}

.contact img {

    height: 60px;
    width: 60px;
    margin: 1cm;
    margin-top: 25px;
    margin-left: 20px;
    cursor: pointer;



}

.contact h1 {

    color: white;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
}

.contact h2 {

    color: white;
    font-size: 10px;
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    font-family: "Bebas Neue", sans-serif;
}


.cb {
    width: 100px;
    height: 100px;
    background-color: gray;
    border-radius: 50%;
    margin: 1cm;



}

.form {


    display: flex;
    background-color: white;
    height: 700px;
    width: 1200px;
    margin-left: 4cm;

}

.form-box {

    padding-top: 80px;
    display: flex;
    height: 1200px;
    width: 700px;
    flex-direction: column;
    gap: .7cm;
    margin-left: 1cm;




}

.form-box input {


    height: 60px;
    width: 500px;
}

.form-box textarea {

    height: 180px;
    width: 500px;
}

.form-box button {

    height: 55px;
    width: 180px;
    background-color: #ffbd39;
    color: black;
    border-radius: 30px;
    border-style: none;

}


.skills > div {
    padding: 20px; 
}

.line{

    background-color: gray;
    width: 100%;
    height: 20px;
    border-radius: 20px;
    overflow: hidden;

}

.line > div{
    height: 100%;
    width: 10%;
    background-color: #ffda5a;



}

.line .react , .line .css{
    width: 80%;
}


.line .mongodb{
    width: 30%;
}


.line > div{

    height: 100%;
    width: 40%;
}

.line .html, .line .node{

    width: 90%;
}





.footer{

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1cm;
    margin-right: 6cm;
    gap: 3cm;
    
    
}

.footer h1{

    margin-top: 50px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: 100;
    
}

.footer h2{

    color: white;
    font-size: 15px;
    font-weight: 10;
    font-family: "Anton", sans-serif;

}